---
import StockPhoto from '../../../assets/stock-photo.webp'
import DeliveryPhoto2 from '../../../assets/delivery-photo2.jpg'
import DeliveryPhoto3 from '../../../assets/delivery-photo3.jpg'

import {DeliveryCarousel} from '@/components/Pages/DeliveryPage/DeliveryCarousel'
import { Image } from 'astro:assets'
---

<div class="w-full flex flex-col justify-center items-center bg-white text-dark-gray">
    <div class="w-full flex justify-center items-center">
        <div class="max-w-[1300px] w-full bg-blue-700 z-20 h-[100px] -translate-y-[50%]">
            <DeliveryCarousel client:load/>
        </div>
    </div>
    <div class="w-full flex justify-center items-center px-8">
        <div class="max-w-[1300px] flex flex-col xl:flex-row justify-center xl:justify-between gap-4 xl:gap-8 items-center xl:items-start mt-8 pb-16">
            <div class="space-y-6 mb-8 xl:mb-0">
                <h2 class="text-3xl font-semibold">1. Самовывоз</h2>
                <p>
                    Наша компания рада предложить вам удобный и гибкий способ получения ваших заказов — опцию самовывоза. Этот вариант идеально подойдет тем, кто предпочитает лично забирать свои покупки в удобное для себя время, избегая дополнительных расходов на доставку. Мы обустроили специальные пункты выдачи, расположенные в ключевых точках города, чтобы максимально упростить для вас процесс получения заказов. Вы можете выбрать ближайший к вашему дому или работе пункт выдачи при оформлении заказа на нашем сайте.
                    <br>
                    <br>
                    После того как ваш заказ будет готов к выдаче, вы получите уведомление с инструкциями о том, как и где его можно забрать. Мы гарантируем, что процесс самовывоза будет простым и удобным, а наши сотрудники всегда рады будут помочь вам при получении заказа. Выбирая самовывоз, вы получаете не только экономию времени и денег, но и возможность лично убедиться в качестве товара при его получении. Мы ценим ваше время и стремимся сделать процесс покупки максимально комфортным и приятным для вас.
                </p>
            </div>
            <Image src={StockPhoto} alt='Самовывоз ИНТЕК' width={600} height={500}/>
        </div>
    </div>
    <div class="w-full flex flex-col justify-center items-center bg-super-light-gray px-8">
        <div class="max-w-[1300px] flex flex-col-reverse xl:flex-row justify-center xl:justify-between gap-4 xl:gap-8 items-center xl:items-start py-16">
            <Image src={DeliveryPhoto3} alt='Доставка до грузополучателя ИНТЕК' width={600} height={500}/>
            <div class="space-y-6 mb-8 xl:mb-0">
                <h2 class="text-3xl font-semibold">2. Доставка до грузополучателя (включена в стоимость товара) в пределах г. Москва и не далее 10 км от МКАД.</h2>
                <p>

                    Мы рады предложить нашим клиентам в городе Москва и в районе, не превышающем 10 км от Московской кольцевой автодороги (МКАД), эксклюзивный сервис доставки — "Доставка до грузополучателя". Этот сервис включен в стоимость товара, предоставляя вам максимальный комфорт и удобство при совершении покупок. Благодаря этому предложению, вы можете оформить заказ на нашем сайте, и мы обеспечим его доставку прямо к вашему порогу без дополнительных расходов.
                    <br>
                    <br>
                    Мы понимаем, насколько ценно ваше время, и стремимся сделать процесс доставки максимально эффективным и удобным. Наша курьерская служба обеспечивает оперативную и аккуратную доставку товаров, следуя высоким стандартам обслуживания. Вам больше не нужно беспокоиться о поиске способа транспортировки крупногабаритных или тяжелых товаров — мы возьмем эту заботу на себя.
                    <br>
                    <br>
                    Доставка осуществляется в удобное для вас время, о котором договариваются наши менеджеры заранее, чтобы гарантировать, что вы сможете принять ваш заказ без лишних хлопот. Мы гарантируем безопасность и целостность товара на всем пути его следования.
                    <br>
                    <br>
                    Выбирая нас, вы выбираете не только качество товаров, но и высокий уровень сервиса. Мы ценим доверие наших клиентов и стремимся предоставить лучший опыт покупки.
                </p>
            </div>
        </div>
    </div>
    <div class="w-full flex flex-col justify-center items-center px-8">
        <div class="max-w-[1300px] flex flex-col xl:flex-row justify-center xl:justify-between gap-4 xl:gap-8 items-center xl:items-start py-16">
            <div class="space-y-6 mb-8 xl:mb-0">
                <h2 class="text-3xl font-semibold">3. Доставка до грузополучателя (включена в стоимость товара) в пределах г. Москва и не далее 10 км от МКАД.</h2>
                <p>
                    Наша компания предлагает уникальный сервис для клиентов в Москве и в районе до 10 км от Московской кольцевой автодороги (МКАД) — доставку заказов до транспортной компании, при этом стоимость данной услуги уже включена в цену товара. Это решение идеально подходит для тех, кто предпочитает отправлять покупки в регионы России или за рубеж через проверенные транспортные компании, обеспечивая надежность и безопасность перевозки.
                    <br>
                    <br>
                    Мы берем на себя все заботы по доставке вашего заказа от нашего склада до выбранной вами транспортной компании в пределах установленной зоны. Это означает, что вы не несете дополнительных расходов на логистику в пределах города, а ваш товар будет доставлен к месту отправки в кратчайшие сроки и с полным соблюдением стандартов упаковки и транспортировки.
                    <br>
                    <br>
                    Мы сотрудничаем с надежными транспортными компаниями, что позволяет нам организовать быструю и безопасную доставку до места отправления, гарантируя, что ваш заказ будет отправлен вовремя и доставлен в целости и сохранности. Вам лишь необходимо указать при оформлении заказа название и адрес транспортной компании, а мы сделаем всё остальное.
                    <br>
                    <br>
                    Выбор нашего сервиса доставки до транспортной компании — это не только экономия ваших средств, но и гарантия того, что ваш заказ будет обработан профессионально на всех этапах доставки. Мы стремимся предоставить вам максимально комфортный и надежный сервис, позволяющий с уверенностью пользоваться нашими услугами для достижения ваших целей.
                </p>
            </div>
            <Image src={DeliveryPhoto2} alt='Доставка ИНТЕК' width={600} height={500}/>
        </div>
    </div>
    <div class="w-full flex justify-center items-center bg-main-blue mb-16 px-8 py-4 text-center">
        <div class="max-w-[1300px] w-full h-[100px] flex justify-center items-center">
            <h3 class="text-white text-xl sm:text-2xl font-semibold">Оплата товара осуществляется безналичным путем!</h3>
        </div>
    </div>
</div>