---
import BlueSquare from "@/components/Global/BlueSquare.astro";
import { Image } from "astro:assets";

import TwoPeople from '../../../assets/two-people.png'
---


    <div class="relative max-h-[500px]">
      <Image
        src={TwoPeople}
        alt="Дискуссия двух людей"
        class="h-full w-full"
        width='500'
        height='500'
        format="avif"
        />
        <a href="/o-kompanii" class="absolute bottom-0 left-0 flex w-full items-center justify-between bg-black/70 pl-4 text-white backdrop-blur-lg">
        <span class="text-xl font-semibold">Больше об «ИНТЕК»</span>
        <BlueSquare />
     </a>
    </div>

