---
import FirstText from "./FirstText.astro";
import ImageContainer from "./ImageContainer.astro";
import SecondText from "./SecondText.astro";

---



    <div class="z-10 mt-[50px] grid max-w-[1300px] grid-cols-1 border-t-4 border-main-blue bg-white md:mt-[90px] lg:grid-cols-2 xl:grid-cols-3">
      <ImageContainer />
      <FirstText />
      <SecondText />
    </div>
