
    <div class="flex flex-col gap-4 px-1 text-dark-gray sm:p-8">
      <p>
        Компания «ИНТЕК» – стремительно растущее предприятие, которое постоянно
        увеличивает объемы выпуска готовой продукции, активно занимается
        модернизацией, увеличением ассортимента и ростом существующего
        производства.
      </p>
      <p>
        Для производства было приобретено новое современное оборудование
        иностранного производства, которое позволяет изготавливать продукцию
        высокого качества, сравнимого с зарубежными аналогами.
      </p>
      <p>
        В производстве мы используем только высококачественное сырье, расходные
        и упаковочные материалы лучших российских и иностранных производителей.
      </p>
    </div>

