
    <div class="flex h-full w-full items-center justify-center px-4 md:px-8">
      <div class="flex max-w-[1300px] flex-col items-center justify-center bg-main-blue/70 px-4 py-4 text-center text-lg text-white md:py-16 md:text-2xl">
        <p class="font-light">
          “Что делает Интек особенной? Ответ простой – это люди, которые делают
          Интек. Наши клиенты, наши партнеры, но прежде всего - преданность
          наших команд по всей России в предоставлении высочайшего уровня
          сервиса и наилучших решений для наших клиентов в сфере торговли
          строительными инструментами, в частности шпателями. Глобальные команды
          Интек посвящены обеспечению наших клиентов передовыми решениями в
          области инструментов для строительства, и мы гордимся этим стремлением
          к выдающемуся. “
        </p>
        <p class="mt-6 md:mt-12">Генеральный директор</p>
        <p>ИНТЕК</p>
      </div>
    </div>
