---
import {AwardDialog} from '@/components/Pages/AboutPage/AwardDialog'
import { Image } from 'astro:assets'

import Reward1 from '@/assets/reward1.jpg'
import Reward2 from '@/assets/reward2.jpg'
import Reward3 from '@/assets/reward3.jpg'
import Reward4 from '@/assets/reward4.jpg'
import Reward5 from '@/assets/reward5.jpg'
import Reward6 from '@/assets/reward6.jpg'

const awards = [
    {
        img: Reward1,
        title: 'Лучший производственный проект ИНТЕК',
    },
    {
        img: Reward2,
        title: 'Номинация ИНТЕК Национальной премии в области импортозамещения',
    },
    {
        img: Reward3,
        title: 'Диплом ИНТЕК',
    },
    {
        img: Reward4,
        title: 'Награда ИНТЕК',
    },
    {
        img: Reward5,
        title: 'Диплом ИНТЕК',
    },
    {
        img: Reward6,
        title: 'Диплом ИНТЕК',
    },
]
---

<div class="w-full flex flex-col justify-center items-center">
    <div class="w-full bg-super-light-gray flex justify-center items">
        <div class="w-[1300px] overflow-x-auto z-20 px-8 py-5 h-[200px] gap-16 -translate-y-[75px] bg-main-blue flex items-center">
            {awards.map(item => (
                <div class="">
                        <Image src={item.img} alt={item.title} width={150} height={150}/>
                </div>
            ))}
        </div>
    </div>
    <div class="w-full bg-super-light-gray flex flex-col justify-center items-center px-8">
        <div class="max-w-[1300px] w-full text-dark-gray pb-16 space-y-4">
            <h2 class="text-3xl font-semibold">Компания «ИНТЕК» основана в 2004 году.</h2>
            <p class="font-light">
                За годы своей деятельности укрепила свои позиции на рынке как один из лидеров в области производства строительных инструментов. С момента своего основания, «ИНТЕК» сосредоточилась на инновациях и качестве своей продукции, благодаря чему смогла завоевать доверие профессионалов в строительной отрасли.
                <br>
                <br>
                Развиваясь, компания не только расширила ассортимент предлагаемых товаров, но и внедрила ряд технологических инноваций, которые позволили улучшить характеристики инструментов, сделав их более надежными, долговечными и удобными в использовании. «ИНТЕК» активно сотрудничает с ведущими строительными компаниями, а также с розничными и оптовыми поставщиками строительных материалов и оборудования, что позволяет компании оставаться в курсе последних тенденций и потребностей рынка.
                <br>
                <br>
                Важным аспектом деятельности «ИНТЕК» является стремление к экологической ответственности. Компания внимательно относится к выбору материалов и технологий производства, минимизируя воздействие на окружающую среду. Это подчеркивает приверженность «ИНТЕК» принципам устойчивого развития и заботе о будущих поколениях.
                <br>
                <br>
            </p>
        </div>
    </div>
    <div class="w-full flex flex-col justify-center items-center px-8">
        <div class="max-w-[1300px] w-full text-dark-gray py-16 space-y-4">
            <h2 class="text-3xl font-semibold">C 2009 года основным направлением деятельности компании становится выпуск ручного строительного инструмента под своими и партнёрскими торговыми марками.</h2>
            <p class="font-light">
                С 2009 года, основывая свою стратегию на выпуске ручного строительного инструмента под своими и партнёрскими торговыми марками, компания смогла зарекомендовать себя как надежный производитель, предлагающий инструменты высокого качества для профессионалов и любителей строительства. Развиваясь в этом направлении, компания значительно расширила свой ассортимент, включив в него широкий спектр инструментов, начиная от молотков, отверток, пил и заканчивая специализированным оборудованием для более сложных и точных работ.
                <br>
                <br>
                Особое внимание компания уделяет инновациям и качеству своей продукции. Благодаря собственному отделу исследований и разработок, каждый инструмент разрабатывается с учетом потребностей конечных пользователей, обеспечивая удобство в использовании, долговечность и безопасность. Компания также активно сотрудничает с научно-исследовательскими институтами и технологическими стартапами для внедрения передовых технологий в производственный процесс.
                <br>
                <br>
                Заботясь о своем вкладе в устойчивое развитие, компания прилагает усилия для минимизации воздействия своей деятельности на окружающую среду. Это достигается за счет использования экологически чистых материалов, оптимизации процессов производства для сокращения отходов и энергопотребления, а также программ по переработке и повторному использованию продукции.
                <br>
                <br>
                Кроме того, компания активно развивает сеть дистрибьюции, чтобы сделать свои инструменты доступными для широкого круга потребителей по всему миру. Сильные партнерские отношения с ведущими розничными сетями и онлайн-платформами позволяют компании эффективно реагировать на меняющиеся требования рынка и предпочтения клиентов.
                <br>
                <br>
                Взаимодействие с клиентами и стремление к постоянному улучшению сервиса и качества продукции являются ключевыми принципами компании. Организуя обратную связь через различные каналы коммуникации, компания постоянно собирает отзывы и предложения от своих пользователей, что позволяет быстро адаптировать продукцию к изменяющимся требованиям рынка и повышать уровень удовлетворенности клиентов.
                <br>
                <br>
                Таким образом, за годы своей работы компания не только укрепила свои позиции на рынке строительных инструментов, но и доказала свою приверженность инновациям, качеству и устойчивому развитию, заручившись доверием клиентов по всей России.
            </p>
        </div>
    </div>
    <div class="w-full bg-super-light-gray flex flex-col justify-center items-center px-8">
        <div class="max-w-[1300px] w-full text-dark-gray py-16 space-y-4">
            <h2 class="text-3xl font-semibold">Компания «ИНТЕК» – стремительно растущее предприятие, которое постоянно увеличивает объемы выпуска готовой продукции, активно занимается модернизацией, увеличением ассортимента и ростом существующего производства.</h2>
            <p class="font-light">
                Компания "ИНТЕК" успешно сочетает традиции качества и передовые технологии в области производства строительных инструментов. С момента своего основания компания постоянно стремится не только к расширению ассортимента продукции, но и к повышению ее функциональности и надежности. Особое внимание уделяется инновационным разработкам, благодаря чему "ИНТЕК" регулярно представляет на рынок уникальные инструменты, отвечающие самым высоким стандартам качества и безопасности.
                <br>
                <br>
                За последние годы компания значительно увеличила свою производственную мощность, внедрила автоматизированные линии и современное оборудование, что позволило значительно повысить производительность труда и сократить время изготовления продукции без ущерба для ее качества. "ИНТЕК" активно сотрудничает с ведущими мировыми и отечественными научно-исследовательскими институтами и инженерными командами, что способствует внедрению передовых технологий и материалов в производственный процесс.
                <br>
                <br>
                Кроме того, компания уделяет большое внимание экологической составляющей своей деятельности. Внедрение экологически чистых технологий и использование безопасных материалов минимизируют воздействие на окружающую среду и подчеркивают социальную ответственность "ИНТЕК" перед обществом.
                <br>
                <br>
                "ИНТЕК" также активно развивает сеть своих представительств и дилеров, благодаря чему продукция компании доступна в различных регионах не только России, но и за ее пределами. Постоянное участие в международных выставках и строительных форумах позволяет компании поддерживать репутацию надежного партнера и поставщика высококачественных строительных инструментов.
                <br>
                <br>
                Осознавая важность обратной связи, "ИНТЕК" внимательно относится к мнениям и предложениям своих клиентов, регулярно проводит аналитические исследования рынка для определения текущих трендов и потребностей потребителей. Это позволяет компании оперативно адаптироваться к изменениям рыночной среды и предлагать решения, наиболее полно удовлетворяющие запросы клиентов.
                <br>
                <br>
                Таким образом, "ИНТЕК" продолжает укреплять свои позиции на рынке, демонстрируя высокие стандарты качества, инновационный подход к производству и четкую ориентацию на потребности и ожидания своих клиентов.
            </p>
        </div>
    </div>
    <div class="w-full flex flex-col justify-center items-center px-8">
        <div class="max-w-[1300px] w-full text-dark-gray py-16 space-y-4">
            <h2 class="text-3xl font-semibold">
                Для производства было приобретено новое современное оборудование иностранного производства, которое позволяет изготавливать продукцию высокого качества, сравнимого с зарубежными аналогам</h2>
            <p class="font-light">
                Приобретение нового современного оборудования иностранного производства стало значительным шагом для компании в укреплении её позиций на рынке строительных инструментов. Это позволило не только повысить качество продукции до уровня, сравнимого с лучшими зарубежными аналогами, но и значительно расширить ассортимент предлагаемых инструментов. Благодаря внедрению передовых технологий производства, компания смогла оптимизировать рабочие процессы, сократить время на изготовление изделий и увеличить общую производительность.
                <br>
                <br>
                Компания активно внедряет инновационные решения не только в производственный процесс, но и в систему контроля качества продукции. Современное оборудование позволяет проводить тщательную проверку каждого изготовленного инструмента, обеспечивая высокую надежность и долговечность в эксплуатации. Это, в свою очередь, укрепляет доверие клиентов и повышает конкурентоспособность компании на рынке.
                <br>
                <br>
                Осознавая растущие требования к экологичности продукции, компания также акцентирует внимание на использовании экологически чистых материалов и технологий. Новое оборудование обладает повышенной энергоэффективностью и минимизирует отходы производства, что делает процесс изготовления более устойчивым и безопасным для окружающей среды.
                <br>
                <br>
                Расширение производственных мощностей и модернизация оборудования открыли перед компанией новые возможности для исследования и разработки уникальных продуктов. Инженеры и дизайнеры компании работают над созданием инновационных строительных инструментов, которые не только упрощают выполнение работы, но и повышают её эффективность. Это позволяет компании предлагать решения, которые выходят за рамки стандартных предложений рынка и отвечают самым сложным запросам клиентов.
                <br>
                <br>
                Кроме того, компания активно развивает партнерские отношения как на внутреннем, так и на международном уровнях. Сотрудничество с ведущими отраслевыми экспертами, дистрибьюторами и ретейлерами позволяет не только расширять географию присутствия, но и обмениваться опытом, что способствует дальнейшему росту и инновационному развитию.
            </p>
        </div>
    </div>
    <div class="w-full bg-super-light-gray flex flex-col justify-center items-center px-8">
        <div class="max-w-[1300px] w-full text-dark-gray py-16 space-y-4">
            <h2 class="text-3xl font-semibold">
                В производстве мы используем только высококачественное сырье, расходные и упаковочные материалы лучших российских и иностранных производителей.</h2>
            <p class="font-light">
                Использование только высококачественного сырья, расходных и упаковочных материалов от лучших российских и иностранных производителей является залогом высокого стандарта качества продукции компании, специализирующейся на изготовлении строительных инструментов. Такой подход позволяет не только гарантировать надежность и долговечность каждого изделия, но и обеспечивает его безопасность и экологичность для конечных пользователей. Внимание к деталям на всех этапах производственного процесса отражает приверженность компании принципам устойчивого развития и социальной ответственности.
                <br>
                <br>
                Далее, акцентируя внимание на инновационном развитии, компания внедряет последние технологические достижения не только в производственные процессы, но и в разработку продуктов. Это позволяет создавать уникальные инструменты, которые отличаются не только высоким качеством исполнения, но и продуманностью функционала, удовлетворяя самым взыскательным требованиям специалистов в строительной отрасли. Инновационные решения, применяемые в разработке новых моделей инструментов, позволяют значительно повысить продуктивность труда и уровень безопасности на строительных площадках.
                <br>
                <br>
                Компания тесно сотрудничает с потребителями, чтобы лучше понимать их нужды и предпочтения. Это взаимодействие способствует не только повышению уровня удовлетворенности клиентов, но и стимулирует поиск новых идей для инноваций. Регулярное обновление ассортимента и улучшение существующих инструментов происходит на основе анализа обратной связи от пользователей, что делает продукцию компании максимально адаптированной к текущим требованиям рынка.
                <br>
                <br>
                В дополнение к высокому качеству продукции, компания уделяет особое внимание сервису и поддержке клиентов. Обучение, техническая поддержка и послепродажное обслуживание являются неотъемлемыми составляющими политики компании, направленной на создание долгосрочных отношений с партнерами и потребителями.
                <br>
                <br>
                Развитие сети дистрибьюции, включая онлайн-платформы, расширяет доступность продукции для широкого круга потребителей, обеспечивая удобство приобретения и быструю доставку в любую точку. Это стратегически важно для поддержания конкурентоспособности компании на динамично меняющемся рынке строительных инструментов.
            </p>
        </div>
    </div>
    <div class="w-full flex flex-col justify-center items-center px-8">
        <div class="max-w-[1300px] w-full text-dark-gray py-16 space-y-4">
            <h2 class="text-3xl font-semibold">
                Предприятие имеет возможность принимать заказы на поставки инструментов под частной торговой маркой клиента!</h2>
            <p class="font-light">
                Возможность принимать заказы на поставки инструментов под частной торговой маркой клиента открывает новые перспективы для компании, специализирующейся на производстве строительных инструментов. Это не только укрепляет партнерские отношения с клиентами, но и позволяет предприятию выходить на новые рынки, расширяя сферу своего влияния и узнаваемость бренда. Компания активно работает над тем, чтобы предложения под частными марками были не только конкурентоспособными по качеству и цене, но и уникальными с точки зрения дизайна и функциональности, полностью соответствуя специфике и желаниям заказчика.
                <br>
                <br>
                Разработка продукции под частной маркой включает тесное взаимодействие с клиентом на всех этапах производства — от концепции до финальной реализации проекта. Это подразумевает адаптацию дизайна, упаковки и даже технических характеристик продукта к требованиям и пожеланиям заказчика, обеспечивая высокую степень удовлетворенности конечного потребителя. Компания обладает необходимыми ресурсами и опытом для гибкого реагирования на изменения рыночных требований и предпочтений клиентов, что делает сотрудничество еще более продуктивным.
                <br>
                <br>
                Ключевым преимуществом работы с предприятием является не только высокое качество продукции, соответствующее мировым стандартам, но и оперативность выполнения заказов благодаря современному производственному парку и оптимизированным логистическим процессам. Это обеспечивает быструю и точную поставку продукции в любую точку мира, укрепляя позиции компании как надежного партнера в сфере производства строительных инструментов.
                <br>
                <br>
                Предприятие постоянно вкладывает средства в развитие технологической базы и повышение квалификации персонала, что позволяет не только улучшать качество существующей продукции, но и разрабатывать новинки, опережая потребности рынка. Такой подход, в сочетании с гибкостью производства и индивидуальным подходом к каждому клиенту, делает компанию предпочтительным выбором для тех, кто заинтересован в создании продукции под собственной торговой маркой.
                <br>
                <br>
                В результате, предприятие не просто выпускает строительные инструменты, но и предоставляет комплексные решения, которые помогают клиентам реализовывать их бизнес-идеи, укреплять бренд и расширять рыночную долю. Благодаря высокому уровню экспертизы и приверженности качеству, компания зарекомендовала себя как надежный партнер в мире строительных инструментов.
            </p>
        </div>
    </div>
</div>
