<div class="w-full bg-super-light-gray flex flex-col justify-center items-center px-8">
    <div class="max-w-[1300px] w-full text-dark-gray py-16 space-y-3">
        <h2 class="text-4xl font-semibold">Компания «ИНТЕК» основана в 2004 году.</h2>
        <p class="text-xl font-light">
            За годы своей деятельности укрепила свои позиции на рынке как один из лидеров в области производства строительных инструментов. С момента своего основания, «ИНТЕК» сосредоточилась на инновациях и качестве своей продукции, благодаря чему смогла завоевать доверие профессионалов в строительной отрасли.
            <br>
            <br>
            Развиваясь, компания не только расширила ассортимент предлагаемых товаров, но и внедрила ряд технологических инноваций, которые позволили улучшить характеристики инструментов, сделав их более надежными, долговечными и удобными в использовании. «ИНТЕК» активно сотрудничает с ведущими строительными компаниями, а также с розничными и оптовыми поставщиками строительных материалов и оборудования, что позволяет компании оставаться в курсе последних тенденций и потребностей рынка.
            <br>
            <br>
            Важным аспектом деятельности «ИНТЕК» является стремление к экологической ответственности. Компания внимательно относится к выбору материалов и технологий производства, минимизируя воздействие на окружающую среду. Это подчеркивает приверженность «ИНТЕК» принципам устойчивого развития и заботе о будущих поколениях.
        </p>
    </div>
    <div>
        <h2></h2>
        <p>Компания "ИНТЕК", основанная в 2009 году, с тех пор активно развивает производство ручного строительного инструмента. Особенностью компании является выпуск продукции не только под собственными торговыми марками, но и под марками партнёров, что позволяет ей занимать значительную долю на рынке и расширять своё присутствие в различных сегментах строительного инструментария. "ИНТЕК" придерживается высоких стандартов качества, инновационных подходов в производстве и ориентирована на удовлетворение потребностей профессиональных строителей и домашних мастеров. Компания не только производит широкий ассортимент инструментов, но и постоянно работает над их улучшением, внедряя новые технологии и материалы для повышения удобства использования, долговечности и эффективности работы.</p>
    </div>
</div>