---
import BlueSquare from "@/components/Global/BlueSquare.astro";
import CatalogItems from "./CatalogItems.astro";
import { Skeleton } from "@/components/ui/skeleton";
import { Image } from "astro:assets";

const items = [
  {
    title: "Шпатель фасадный Proff 150 мм",
    src: "shpatel-proff-150.png",
  },
  {
    title: "Шпатель фасадный Proff 150 мм",
    src: "shpatel-proff-150.png",
  },
  {
    title: "Шпатель фасадный Proff 150 мм",
    src: "shpatel-proff-150.png",
  },
  {
    title: "Шпатель фасадный Proff 150 мм",
    src: "shpatel-proff-150.png",
  },
  {
    title: "Шпатель фасадный Proff 150 мм",
    src: "shpatel-proff-150.png",
  },
  {
    title: "Шпатель фасадный Proff 150 мм",
    src: "shpatel-proff-150.png",
  },
  {
    title: "Шпатель фасадный Proff 150 мм",
    src: "shpatel-proff-150.png",
  },
  {
    title: "Шпатель фасадный Proff 150 мм",
    src: "shpatel-proff-150.png",
  },
];
---

    <div class="my-[100px] flex w-full items-center justify-center px-8">
      <div class="flex w-full max-w-[1300px] flex-col gap-8">
        <div>
          <h1 class="text-4xl text-dark-gray font-bold">Наша продукция</h1>
          <h2 class="text-xl text-primary/50 mb-2 font-light">
            Самые актуальные инструменты по выгодным ценам.
          </h2>
          <a href="" class="under text-2xl font-semibold text-dark-gray">
            Больше товаров
          </a>
        </div>
        <div class="gap grid w-full grid-cols-1 gap-4 lg:grid-cols-2 xl:gap-8">
          <a
            href="/"
            class="group relative h-full w-full overflow-hidden border border-border"
          >
            <Image
              src={`/images/shpatel-proff-150.png`}
              alt="Шпатель фасадный Proff 150 мм"
              width='700'
              height='500'
              class='w-full h-full sm:w-[700px] sm:h-[500px]'
            />
            <div class="text-md absolute bottom-0 left-0 flex h-[64px] w-[90%] cursor-pointer items-center justify-center border bg-white text-center text-dark-gray transition sm:text-xl xl:-translate-x-[85%] xl:group-hover:translate-x-0">
              <div class="w-full p-2">Шпатель фасадный Proff 150 мм</div>
              <BlueSquare />
            </div>
          </a>
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 xl:gap-8">
            {items.slice(0, 4).map((item) => (
              <CatalogItems src={item.src} title={item.title} />
            ))}
          </div>
        </div>
        <div class="w-full hidden sm:grid gap-8 sm:grid-cols-2 lg:grid-cols-4">
          {items.slice(4, 8).map((item) => (
            <CatalogItems src={item.src} title={item.title} />
          ))}
        </div>
      </div>
    </div>
