
    <div class="w-full flex justify-center items-center">
      <div class="hidden h-[400px] w-[700px] border-t-4 border-main-blue sm:block">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A340ed332a9fa9651d8b8c8106d9b1bf3b4737b437652a71da10938d1f6848872&amp;width=700&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>      </div>
      <div class="block h-[250px] w-[350px] border-t-4 border-main-blue sm:hidden">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A340ed332a9fa9651d8b8c8106d9b1bf3b4737b437652a71da10938d1f6848872&amp;width=350&amp;height=250&amp;lang=ru_RU&amp;scroll=true"></script>      </div>
    </div>