---
import { MailIcon, PhoneCallIcon } from "lucide-react";
import YandexMap from "./YandexMap.astro";
---
    <div class="py-[100px] flex w-full items-center justify-center bg-white px-8">
      <div class="flex max-w-[1300px] w-full flex-col items-start justify-center gap-16 lg:flex-row lg:gap-8 xl:gap-16">
        <YandexMap />
        <div class="w-full flex flex-col justify-center items-center gap-6 text-center text-dark-gray lg:items-start lg:text-start">
          <h2 class="text-4xl font-semibold">ООО «ИНТЕК»</h2>
          <div>
            <p class="mb-2 text-lg font-light">
              141031, РФ, Московская область, г. Мытищи, д. Сгонники, ул.
              Промышленная, вл. 7, стр. 8а
            </p>
            <h3 class="text-lg">Понедельник – Пятница с 8:30 до 17:00</h3>
          </div>
          <div class="flex flex-col justify-center gap-1 text-center lg:items-start">
            <div class="flex items-center justify-center gap-2 font-semibold">
              <PhoneCallIcon className="text-main-blue" />
              <a href="tel:+7 (499) 290-02-58">+7 (499) 290-02-58 - отдел продаж</a>
            </div>
            <div class="flex items-center justify-center gap-2 font-semibold">
              <PhoneCallIcon className="text-main-blue" />
              <a href="tel:+7 (915) 003-83-73">+7 (915) 003-83-73 - отдел кадров</a>
            </div>
          </div>
          <div class="flex flex-col justify-center gap-1 text-center lg:items-start">
           <div class="flex items-center justify-center gap-2 font-semibold">
              <MailIcon className="text-main-blue" />
              <span>manager@intek-tool.ru</span>
            </div>
          </div>
        </div>
      </div>
    </div>

