
    <div class="w-full flex justify-center items-center">
      <div class="hidden h-[400px] w-[700px] border-t-4 border-main-blue sm:block">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A340ed332a9fa9651d8b8c8106d9b1bf3b4737b437652a71da10938d1f6848872&amp;source=constructor" width="700" height="400" frameborder="0"></iframe>
      </div>
      <div class="block h-[250px] w-[350px] border-t-4 border-main-blue sm:hidden">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A340ed332a9fa9651d8b8c8106d9b1bf3b4737b437652a71da10938d1f6848872&amp;source=constructor" width="350" height="250" frameborder="0"></iframe>
      </div>
    </div>