---
import Layout from "@/layouts/Layout.astro";

---

<Layout
    title="Доставка и оплата в ИНТЕК - Условия и способы доставки и оплаты строительных инструментов" 
    description="Все о способах доставки и оплаты в ИНТЕК. Узнайте о доступных вариантах доставки, способах оплаты и как оформить заказ на строительные инструменты." 
    ogTitle="Доставка и оплата в ИНТЕК"
    ogDescription="Информация о способах доставки и оплаты в ИНТЕК. Выберите удобный способ доставки и оплаты для вашего заказа строительных инструментов."
    twitterDescription="Подробная информация о способах доставки и оплаты на сайте ИНТЕК. Оформите заказ на строительные инструменты с удобной доставкой."
    keywords="доставка ИНТЕК, оплата ИНТЕК, условия доставки, способы оплаты, заказ строительных инструментов"
>
    <div class="w-full text-4xl">
        Hello delivery
    </div>
</Layout>