---
import Layout from "@/layouts/Layout.astro";

---

<Layout title="Доставка Шпателей ИНТЕК по всей России и СНГ" description="Доставка и оплата">
    <div class="w-full text-4xl">
        Helle delivery
    </div>
</Layout>