---
import Layout from '../layouts/Layout.astro';
import InfoSection from '@/components/Pages/MainPage/InfoSection'
import MenuSection from '@/components/Pages/MainPage/MenuSection/MenuSection'
import StorageSection from '@/components/Pages/MainPage/StorageSection/StorageSection'
import CatalogSection from '@/components/Pages/MainPage/CatalogSection/CatalogSection'
---

<Layout title="Лучшие шпатели ИНТЕК на рынке" description='Интек описание'>
	<div class="bg-[url('/images/main-photo.png')] w-full bg-center bg-cover h-[516px] absolute top-0 left-0"></div>
	<div class="max-w-[1300px] px-8 w-full text-white z-10 mt-32 sm:mt-48 flex flex-col gap-4">
		<h1 class="text-3xl sm:text-5xl font-semibold">Добро Пожаловать в ИНТЕК</h1>
		<p class="text-xl sm:text-3xl">ИНТЕК – ваш надежный партнёр в мире отделочных материалов! Наши высококачественные шпатели станут незаменимым инструментом в руках профессионалов и любителей, обеспечивая легкость и точность в каждом движении.</p>
	</div>
	<div class="px-8 z-10">
		<InfoSection/>
	</div>
	<MenuSection/>
	<StorageSection/>
	<CatalogSection/>
</Layout>