---
import Layout from '../layouts/Layout.astro';
import InfoSection from '@/components/Pages/MainPage/InfoSection.astro'
import MenuSection from '@/components/Pages/MainPage/MenuSection/MenuSection.astro'
import StorageSection from '@/components/Pages/MainPage/StorageSection/StorageSection.astro'
import CatalogSection from '@/components/Pages/MainPage/CatalogSection/CatalogSection.astro'
import SliderSection from '@/components/Pages/MainPage/SliderSection/Slider'
import YandexMapSection from '@/components/Pages/MainPage/YandexMapSection/YandexMapSection.astro'
---

<Layout 
	title="ИНТЕК - Ваш надежный поставщик строительных инструментов" 
	description="ИНТЕК предлагает широкий выбор качественных строительных инструментов для профессионалов и любителей. Шпатели, гладилки, кисти и многое другое по доступным ценам." 
	ogDescription="Откройте для себя широкий ассортимент качественных строительных инструментов от ИНТЕК. Найдите все необходимое для своих проектов по доступным ценам."
	ogTitle="ИНТЕК - Ваш надежный поставщик строительных инструментов"
	twitterDescription="Широкий ассортимент строительных инструментов для всех ваших нужд. Шпатели, гладилки, кисти и многое другое от ИНТЕК."
 	keywords="ИНТЕК, строительные инструменты, шпатели, гладилки, кисти, профессиональные инструменты, каталог инструментов">
	<div class="bg-[url('../assets/main-photo.webp')] w-full bg-center bg-cover h-[516px] absolute top-0 left-0"></div>
	<div class="w-full flex justify-center items-center px-8">
		<div class="max-w-[1300px] w-full text-white z-10 mt-32 sm:mt-48 flex flex-col gap-6">
			<div class="absolute top-0 left-0 right-0 h-[516px] bg-gradient-to-r from-black/70 via-black/60 to-black/20"></div>
			<h1 class="text-3xl sm:text-5xl font-semibold z-10">Добро Пожаловать в ИНТЕК</h1>
			<h2 class="text-lg sm:text-xl z-10">ИНТЕК – ваш надежный партнёр в мире отделочных материалов! Наши высококачественные шпатели станут незаменимым инструментом в руках профессионалов и любителей, обеспечивая легкость и точность в каждом движении.</h2>
		</div>
	</div>
	<div class="px-8 z-10">
		<InfoSection/>
	</div>
	<MenuSection />
	<StorageSection />
	<CatalogSection />
	<SliderSection client:load/>
	<!-- <DiagrammAmount client:visible/>
	<DiagrammIncome client:visible/> -->
	<YandexMapSection />
</Layout>