---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import AdvanatgesSection from '@/components/AdvanatgesSection';
import SliderSection from '@/components/SliderSection';
import UyutSection from '@/components/UyutSection';
---

<Layout title="Лучшие шпатели ИНТЕК на рынке" description='Интек описание'>
	<div class="w-full h-[258px] bg-[url('/images/main-image.png')] mt-8"></div>
	<AdvanatgesSection/>
	<SliderSection client:load/>
	<UyutSection/>
</Layout>