---
import Layout from "@/layouts/Layout.astro";
import Filters from '@/components/Pages/CatalogPage/Filters.astro'
import {ContentList} from '@/components/Pages/CatalogPage/ContentList'
---

<Layout
title="Строительные инструменты от ИНТЕК - Шпатели, Гладилки, Терки и др." 
description='ИНТЕК предлагает профессиональные строительные инструменты для вашего проекта: шпатели, гладилки, сеткодержатели, терки, кисти, щетки, кельмы и многое другое. Обеспечьте высокое качество работы с нашими инструментами.' 
ogDescription="Широкий ассортимент профессиональных строительных инструментов: шпатели, гладилки, сеткодержатели, терки и многое другое. Найдите идеальные инструменты для вашего проекта в ИНТЕК."
ogTitle="Строительные инструменты от ИНТЕК"
twitterDescription="Ваш источник профессиональных строительных инструментов: шпатели, гладилки, терки, и многое другое. Откройте для себя качество ИНТЕК."
 keywords="шпатели, гладилки, сеткодержатели, терки, кисти, щетки, кельмы, строительные инструменты, ИНТЕК, каталог инструментов, купить инструменты"
>
    <div class="bg-[url('../assets/storage-bg.webp')] w-full bg-center bg-cover h-[450px] absolute top-0 left-0"></div>
    <div class="max-w-[1300px] px-8 w-full text-white z-10 h-[450px] flex flex-col justify-center pt-28 gap-4">
        <div class="absolute top-0 left-0 right-0 h-[450px] bg-black/40"></div>
		<h1 class="text-3xl sm:text-5xl font-semibold z-10">Каталог товаров</h1>
		<p class="text-lg sm:text-xl z-10 font-light">ИНТЕК предлагает широкий выбор отделочных материалов: от шпатлевок и красок до инструментов и фасадных решений. Компания обеспечивает высокое качество продукции для любых проектов, от стандартных до инновационных, удовлетворяя потребности требовательных клиентов.</p>
	</div>
    <div class="bg-gray-100 w-full flex justify-center items-center">
        <Filters/>
    </div>
    <ContentList client:load/>
</Layout>