---
import Layout from "@/layouts/Layout.astro";
import YandexMapSection from '@/components/Pages/MainPage/YandexMapSection/YandexMapSection.astro'
---

<Layout
    title="Контакты ИНТЕК - Как связаться с нами" 
    description="Находите все способы связи с компанией ИНТЕК. Наш адрес, телефоны, электронная почта и форма обратной связи для ваших вопросов и заказов."
    ogTitle="Контакты ИНТЕК - Свяжитесь с нами"
    ogDescription="Ищете как связаться с ИНТЕК? На этой странице вы найдете наш адрес, телефоны, электронную почту и форму обратной связи."
    twitterDescription="Все необходимые контактные данные ИНТЕК для связи с нами. Адрес, телефоны, электронная почта и форма обратной связи доступны для вас."
    keywords="контакты ИНТЕК, адрес ИНТЕК, телефон ИНТЕК, электронная почта ИНТЕК, связаться с ИНТЕК"
>
    <div class="bg-[url('../assets/office1.jpg')] w-full bg-center bg-cover h-[450px] absolute top-0 left-0"></div>
    <div class="max-w-[1300px] px-8 w-full text-white z-10 h-[450px] flex flex-col justify-center pt-20 gap-4">
        <div class="absolute top-0 left-0 right-0 h-[450px] bg-black/40"></div>
        <h1 class="text-3xl sm:text-5xl font-semibold z-10">Свяжитесь с ИНТЕК</h1>
        <p class="text-lg sm:text-xl z-10 font-light">Свяжитесь с нами, чтобы обсудить потребности вашего проекта.</p>
    </div>
    <div class="bg-[url('../assets/office2.jpg')] w-full bg-center bg-cover h-full fixed -z-20 top-0 left-0"></div>
    <div class="w-full h-full fixed -z-10 top-0 left-0 bg-blue-950/70 flex justify-start items-center">
    </div>
    <YandexMapSection/>
    <div class="w-full flex justify-center items-center h-[450px]">
        <div class="w-full max-w-[1300px] px-8 text-white space-y-4 font-light h-full flex flex-col justify-center items-start">
            <h2 class="text-3xl sm:text-4xl">По словам нашего генерального директора: «ИНТЕК делают люди».</h2>
            <h3 class="text-xl sm:text-2xl">Именно навыки, опыт и энтузиазм нашей команды отличают ИНТЕК.</h3>
        </div>
    </div>
</Layout>