---
import Layout from "@/layouts/Layout.astro";

---

<Layout
    title="Контакты ИНТЕК - Как связаться с нами" 
    description="Находите все способы связи с компанией ИНТЕК. Наш адрес, телефоны, электронная почта и форма обратной связи для ваших вопросов и заказов."
    ogTitle="Контакты ИНТЕК - Свяжитесь с нами"
    ogDescription="Ищете как связаться с ИНТЕК? На этой странице вы найдете наш адрес, телефоны, электронную почту и форму обратной связи."
    twitterDescription="Все необходимые контактные данные ИНТЕК для связи с нами. Адрес, телефоны, электронная почта и форма обратной связи доступны для вас."
    keywords="контакты ИНТЕК, адрес ИНТЕК, телефон ИНТЕК, электронная почта ИНТЕК, связаться с ИНТЕК"
>
    <h1>Hello contacts</h1>
</Layout>