---
import Layout from "@/layouts/Layout.astro";
import { Clock12 } from "lucide-react";

---

<Layout
    title="Доставка и оплата в ИНТЕК - Условия и способы доставки и оплаты строительных инструментов" 
    description="Все о способах доставки и оплаты в ИНТЕК. Узнайте о доступных вариантах доставки, способах оплаты и как оформить заказ на строительные инструменты." 
    ogTitle="Доставка и оплата в ИНТЕК"
    ogDescription="Информация о способах доставки и оплаты в ИНТЕК. Выберите удобный способ доставки и оплаты для вашего заказа строительных инструментов."
    twitterDescription="Подробная информация о способах доставки и оплаты на сайте ИНТЕК. Оформите заказ на строительные инструменты с удобной доставкой."
    keywords="доставка ИНТЕК, оплата ИНТЕК, условия доставки, способы оплаты, заказ строительных инструментов"
>
    <div class="bg-[url('../assets/postman.jpg')] w-full bg-center bg-cover h-[450px] absolute top-0 left-0"></div>
    <div class="w-full flex justify-center items-center px-8">
        <div class="max-w-[1300px] w-full text-white z-10 h-[450px] flex flex-col justify-center pt-20 gap-6">
            <div class="absolute top-0 left-0 right-0 h-[450px] bg-black/60"></div>
            <h1 class="text-3xl sm:text-5xl font-semibold z-10">Новости</h1>
            <p class="text-lg sm:text-xl z-10">Будьте в курсе новостей, блогов и обновлений ИНТЕК в вашем регионе и по всему миру.</p>
        </div>
    </div>
    <div class="w-full bg-main-blue h-[100px] text-white flex justify-center items-center">
        <h2 class="font-semibold text-3xl flex justify-center items-center gap-2">Тут будут появляться новости <Clock12 className="animate-spin" strokeWidth={3}/></h2>
    </div>
</Layout>