---
import Layout from "@/layouts/Layout.astro";

---

<Layout
    title="О компании ИНТЕК - Ваш надежный партнер в мире строительных инструментов" 
    description="Узнайте больше о компании ИНТЕК, нашей истории, миссии и принципах работы. Мы предлагаем широкий ассортимент качественных строительных инструментов для профессионалов и любителей." 
    ogDescription="Познакомьтесь с ИНТЕК: наша история, миссия и ценности. Мы стремимся предоставлять лучшие строительные инструменты на рынке."
    ogTitle="О компании ИНТЕК - Ваш надежный партнер"
    twitterDescription="ИНТЕК: наша история, миссия и как мы работаем, чтобы предоставить вам лучшие строительные инструменты."
    keywords="ИНТЕК о компании, история ИНТЕК, миссия ИНТЕК, строительные инструменты, профессиональные инструменты, ИНТЕК инструменты" 
>
    <div class="bg-[url('../assets/about-photo.webp')] w-full bg-bottom bg-cover h-[450px] absolute top-0 left-0"></div>
    <div class="max-w-[1300px] px-8 w-full text-white z-10 h-[450px] flex flex-col justify-center pt-20 gap-6">
        <div class="absolute top-0 left-0 right-0 h-[450px] bg-black/60"></div>
        <h1 class="text-3xl sm:text-5xl font-semibold z-10">О компании</h1>
        <p class="text-xl sm:text-xl z-10">Обладая опытом и компетенцией, мы поддерживаем наших клиентов и сопровождаем их на каждом этапе, от  закупок до отправки заказа</p>
    </div>
    <div class="bg-[url('../assets/office2.jpg')] w-full bg-center bg-cover h-full fixed -z-20 top-0 left-0"></div>
    <div class="w-full h-full fixed -z-10 top-0 left-0 bg-blue-950/70 flex justify-start items-center">
    </div>
</Layout>