---
import Layout from "@/layouts/Layout.astro";

---

<Layout
    title="О компании ИНТЕК - Ваш надежный партнер в мире строительных инструментов" 
    description="Узнайте больше о компании ИНТЕК, нашей истории, миссии и принципах работы. Мы предлагаем широкий ассортимент качественных строительных инструментов для профессионалов и любителей." 
    ogDescription="Познакомьтесь с ИНТЕК: наша история, миссия и ценности. Мы стремимся предоставлять лучшие строительные инструменты на рынке."
    ogTitle="О компании ИНТЕК - Ваш надежный партнер"
    twitterDescription="ИНТЕК: наша история, миссия и как мы работаем, чтобы предоставить вам лучшие строительные инструменты."
    keywords="ИНТЕК о компании, история ИНТЕК, миссия ИНТЕК, строительные инструменты, профессиональные инструменты, ИНТЕК инструменты" 
>
    <div class="text-4xl">
        Hello About
    </div>
</Layout>