---
import Layout from "@/layouts/Layout.astro";
import PartnersPage from '@/components/Pages/PartnersPage/PartnersPage.astro'
---

<Layout
    title="Наши Партнеры - ИНТЕК | Ведущий Производитель Строительных Инструментов" 
    description="Список партнеров компании ИНТЕК, производителя высококачественных строительных инструментов. Узнайте, с кем мы сотрудничаем, чтобы предложить вам лучшие решения для строительства." 
    ogTitle="Наши Партнеры - ИНТЕК | Ведущий Производитель Строительных Инструментов"
    ogDescription="Список партнеров компании ИНТЕК, производителя высококачественных строительных инструментов. Узнайте, с кем мы сотрудничаем, чтобы предложить вам лучшие решения для строительства."
    twitterDescription="Список партнеров компании ИНТЕК, производителя высококачественных строительных инструментов. Узнайте, с кем мы сотрудничаем, чтобы предложить вам лучшие решения для строительства."
    keywords="ИНТЕК, строительные инструменты, партнеры ИНТЕК, строительное оборудование, производители инструментов"
>
    <div class="bg-[url('../assets/partners.png')] w-full bg-center bg-cover h-[450px] absolute top-0 left-0"></div>
    <div class="w-full flex justify-center items-center px-8">
        <div class="max-w-[1300px] w-full text-white z-10 h-[450px] flex flex-col justify-center pt-20 gap-6">
            <div class="absolute top-0 left-0 right-0 h-[450px] bg-black/60"></div>
            <h1 class="text-3xl sm:text-5xl font-semibold z-10">Партнеры</h1>
            <p class="text-lg sm:text-xl z-10">Обладая опытом и компетенцией, мы поддерживаем наших клиентов и сопровождаем их на каждом этапе, от  закупок до отправки заказа</p>
        </div>
    </div>
    <PartnersPage/>
</Layout>