---
import Layout from "@/layouts/Layout.astro";

---

<Layout
    title="Доставка и оплата в ИНТЕК - Условия и способы доставки и оплаты строительных инструментов" 
    description="Все о способах доставки и оплаты в ИНТЕК. Узнайте о доступных вариантах доставки, способах оплаты и как оформить заказ на строительные инструменты." 
    ogTitle="Доставка и оплата в ИНТЕК"
    ogDescription="Информация о способах доставки и оплаты в ИНТЕК. Выберите удобный способ доставки и оплаты для вашего заказа строительных инструментов."
    twitterDescription="Подробная информация о способах доставки и оплаты на сайте ИНТЕК. Оформите заказ на строительные инструменты с удобной доставкой."
    keywords="доставка ИНТЕК, оплата ИНТЕК, условия доставки, способы оплаты, заказ строительных инструментов"
>
    <div class="bg-[url('../assets/partners.png')] w-full bg-center bg-cover h-[450px] absolute top-0 left-0"></div>
    <div class="max-w-[1300px] px-4 w-full text-white z-10 h-[450px] flex flex-col justify-center pt-20 gap-6">
        <div class="absolute top-0 left-0 right-0 h-[450px] bg-black/60"></div>
        <h1 class="text-3xl sm:text-5xl font-semibold z-10">Партнеры</h1>
        <p class="text-lg sm:text-xl z-10">Обладая опытом и компетенцией, мы поддерживаем наших клиентов и сопровождаем их на каждом этапе, от  закупок до отправки заказа</p>
    </div>
</Layout>