---
import { Separator } from "@/components/ui/separator";
import { FileText } from "lucide-react";
---

<div class="w-full mt-[200px] flex justify-center items-center">
    <div class="max-w-[1300px] w-full pb-16 text-dark-gray flex justify-start items-start flex-col gap-6">
        <Separator className="my-12"/>
        <h2 class="text-4xl font-semibold">СОУТ</h2>
        <a aria-label="Открыть СОУТ 2022" href="/sout2022.pdf" target="_blank" class="flex gap-1 justify-center items-center text-main-blue hover:text-blue-900 transition"><FileText strokeWidth={1.25}/>СОУТ 2022</a>
        <a aria-label="Открыть СОУТ 2021" href="/sout2021.pdf" target="_blank" class="flex gap-1 justify-center items-center text-main-blue hover:text-blue-900 transition"><FileText strokeWidth={1.25}/>СОУТ 2021</a>
        <a aria-label="Открыть СОУТ 2020" href="/sout2020.pdf" target="_blank" class="flex gap-1 justify-center items-center text-main-blue hover:text-blue-900 transition"><FileText strokeWidth={1.25}/>СОУТ 2020</a>
        <a aria-label="Открыть СОУТ 2019" href="/sout2019.pdf" target="_blank" class="flex gap-1 justify-center items-center text-main-blue hover:text-blue-900 transition"><FileText strokeWidth={1.25}/>СОУТ 2019</a>
        <a aria-label="Открыть СОУТ 2016" href="/sout2016.pdf" target="_blank" class="flex gap-1 justify-center items-center text-main-blue hover:text-blue-900 transition"><FileText strokeWidth={1.25}/>СОУТ 2016</a>
        <a aria-label="Открыть Лесной Эталон" href="/lesnoyetalon.pdf" target="_blank" class="flex gap-1 justify-center items-center text-main-blue hover:text-blue-900 transition"><FileText strokeWidth={1.25}/>Лесной Эталон</a>
    </div>
</div>