---
export interface Props {
	title: string;
	description: string;
}

const {title, description} = Astro.props;

import BaseHead from '@/components/Head/BaseHead.astro';
import Header from '@/components/LayoutComponents/Header'
import Catalog from '@/components/LayoutComponents/Catalog'
import {Separator} from '@/components/ui/separator'
import '@/styles/globals.css'
import MobileMenu from '@/components/MobileMenu';
---

<!doctype html>
<html lang="ru">
	<head>
		<BaseHead title={title} description={description}/>
	</head>
	<body class="w-full flex flex-col justify-center items-center">
		<div class="max-w-[1200px] w-full px-2">
			<Header/>
			<Separator className='hidden lg:block'/>
			<Catalog client:load/>
			<Separator className='hidden lg:block'/>
			<MobileMenu/>
			<slot />
		</div>
	</body>
</html>
	